<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/../resources/static/Menu.css">
    <link rel="script" type="text/xml" href="/../resources/static/MenuScript.js">
</head>
<body>
<h1>Home Page</h1>
<!doctype html>

<meta charset='utf-8'>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="styles.css">
<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<script src="script.js"></script>
<title>CSS MenuMaker</title>


<div id='cssmenu'>
    <ul>
        <li class='active'><a href='#'>Client</a>
            <ul>
                <li><a href="/show">Show</a>
                </li>
                <li><a href="/create">Create</a>
                </li>
                <li><a href="/edit">Edit</a>
                </li>
                <li><a href="/delete">Delete</a>
                </li>
            </ul>
        </li>
        <li class='active'><a href='#'>Car</a>
            <ul>
                <li><a href='#'>Show</a>
                </li>
                <li><a href='#'>Create</a>
                </li>
                <li><a href='#'>Edit</a>
                </li>
                <li><a href='#'>Delete</a>
                </li>
            </ul>
        </li>
        <li class='active'><a href='#'>Worker</a>
            <ul>
                <li><a href='#'>Show</a>
                </li>
                <li><a href='#'>Create</a>
                </li>
                <li><a href='#'>Edit</a>
                </li>
                <li><a href='#'>Delete</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
</body>
</html>